@define-color black #000000;
@define-color aqua #00CCFF;
@define-color coldblue #10607A;
@define-color white #ffffff;
@define-color darkblue #5E60CE;    
@define-color violet #9B5DE5;      
@define-color yellow #F9C74F;      
@define-color red #EF476F;         
@define-color orange #F8961E;
@define-color green #4FF96D;
@define-color netyellow #FFD116;


* {
  font-family: "JetBrains Mono", Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
}

#window {
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
  box-shadow: inset 0 -3px @white;
}

#pulseaudio:hover {
  background-color: @coldblue;
}

#windowcount {
    margin-left: 0px;
    padding: 0px 5px;
    background-color: @coldblue;
    opacity: 100;
}

window#waybar.empty #windowcount {
    opacity: 0;
}

#workspaces {
  margin: 0;
  font-size: 8px;
  border-radius: 0;
  transition: none;
}

#workspaces button:hover {
  background: rgba(255, 255, 255, 0.1);
}

#workspaces button.focused {
  background-color: @aqua;
  color: @black;
  box-shadow: inset 0 -3px @white;
}

#workspaces button.active {
  color: @aqua;
  border-bottom: 2px solid @aqua;
}

#workspaces button.urgent {
  background-color: @aqua;
}

#workspaces button {
    font-weight: bold;
    background-color: transparent;
    color: #ffffff;
    box-shadow: none;
    text-shadow: none;
    padding: 0 0px;
    border-radius: 0;
    padding-left: 2px;
    padding-right: 2px;
}

#workspaces .workspace-label {
    padding-left: 3px;
    border-top: 1px solid transparent;
}

#workspaces .taskbar-window {
    border-top: 1px solid transparent;
    font-weight: normal;
    padding-left: 0px;
    padding-right: 0px;
}

#workspaces button.visible .taskbar-window,
/* #workspaces button.visible .workspace-label { */
    /* border-color: white; */
/* } */

/* #workspaces .taskbar-window.active { */
    /* background-color: rgba(255, 255, 255, 0.15); */
/* } */

#workspaces .taskbar-window image {
    margin-top: 1px;
}

#workspaces button.urgent {
    background-color: @urgent-color;
}

#mode {
  background-color: @aqua;
  box-shadow: inset 0 -3px @white;
}

#clock,
#battery{  
  padding: 0 3px;
}
#backlight{
  padding: 0 3px;
}
#cpu{
  padding: 0 3px;
  padding-right: 2px;
}
#memory{
  padding: 0 3px;
}
#temperature{
  padding: 0 3px;
}
#network {
  color: @netyellow;
}
#gamemode,
#gamemode.running,
#submap,
/* #submap.<name>, */
#pulseaudio {
  padding: 0 3px;
}

#pulseaudio {
  color: @aqua;
}
#pulseaudio.source-muted{
  color: @aqua;
}
#pulseaudio.muted {
  color: @red;
}

#network,

#bluetooth {
    padding: 0 3px;
    /* border-radius: 6px; */
    /* background-color: rgba(50, 50, 50, 0.5); */
    /* color: #ffffff; */
    /* font-weight: 500; */
    /* font-size: 14px; */
}

#bluetooth.connected {
    /* background-color: rgba(0, 180, 0, 0.6); */
}

#bluetooth.discovering {
    /* background-color: rgba(0, 120, 255, 0.6); */
}

#bluetooth.disabled,
#bluetooth.off,
#bluetooth.no-controller {
    /* background-color: rgba(180, 0, 0, 0.6); */
    /* color: #fff; */
}

#cpu,
#memory,
#window,
#clock,
#tray,
#tray menu,
#tray > .passive,
#tray > .active,
#tray > .needs-attention,
#temperature#cpu{
  padding: 0 3px;
}
#temperature#gpu {
  color: @white;
  padding: 0 3px;
}

#custom-network_speed {
  padding-left: 5px;
  padding-right: 5px;
}

#custom-hyprlayout {
  padding: 0px 0px;
  border: 0px solid white;
  padding-left: 2px;
  padding-right: 2px;
  margin: 0px 0px 0px 0px;
}

#custom-noscreenshare {
  background: rgba(128, 128, 128, 0.2);
  /* opacity: 0.7; */
  padding: 0px 0px;
  margin: 0px 0px 0px 0px;
  border: 0px solid white;
  border-radius: 0px;
}

#custom-noscreenshare.on {
  font-size: 14px; 
  padding-right: 14px;
}

#custom-noscreenshare.off {
  font-size: 14px;
  padding-right: 14px;
  padding-left: 9px
}

#wireplumber\#source {
    font-size: 1.5em;         
    padding: 0 20px;          
}

#temperature#cpu.critical,
#temperature#gpu.critical,

#battery.critical:not(.charging) {
  color: @black;
  background-color: @red;
  border-radius: 10px;
  font-weight: bold;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.charging
#battery.plugged {
  color: @aqua;
}


@keyframes blink {
  to {
    color: @black;
  }
}

label:focus {
  background-color: @black;
}

#language {
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 0px;
}

#privacy {
  /* background: #1e1e2e; */
  background: rgba(128, 128, 128, 0.2);
  /* opacity: 0.7; */
  padding: 0px 3px;
  margin: 2px 2px 2px 0px;
  border: 0px solid white;
  border-radius: 0px;
}

#privacy-item {
  color: gray;
}
#privacy-item.screenshare {
  color: yellow;
}
#privacy-item.audio-in {
  color: red;
}
#privacy-item.audio-out {
  color: white;
}

.modules-right,
.modules-left,
.modules-center {
  background-color: @black;
  border-radius: 0px;
}

.modules-right {
  padding: 0 10px;
}

.modules-left {
  padding: 0 0px;
}

.modules-center {
  padding: 0 10px;
}

